<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whm.First_SpringBoot_M3.Dao.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.whm.First_SpringBoot_M3.entity.Users" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="usalary" property="usalary" jdbcType="INTEGER" />
    <result column="udate" property="udate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, username, realname, password, usalary, udate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from users
    where uid = #{uid,jdbcType=INTEGER}
  </select>
     <select id="selectAll" resultMap="BaseResultMap">
   select * from users
   </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from users
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  
    <!--批量删除-->
    <delete id="deleteByMPrimaryKey" parameterType="java.util.List">
        delete from users
        where uid
        in
        <foreach collection="list" item="uid" open="(" separator="," close=")">
            #{uid}
        </foreach>
        </delete>
  <insert id="insert" parameterType="com.whm.First_SpringBoot_M3.entity.Users" >
    insert into users (uid, username, realname, 
      password, usalary, udate
      )
    values (#{uid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{usalary,jdbcType=INTEGER}, #{udate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whm.First_SpringBoot_M3.entity.Users" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="usalary != null" >
        usalary,
      </if>
      <if test="udate != null" >
        udate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="usalary != null" >
        #{usalary,jdbcType=INTEGER},
      </if>
      <if test="udate != null" >
        #{udate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whm.First_SpringBoot_M3.entity.Users" >
    update users
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="usalary != null" >
        usalary = #{usalary,jdbcType=INTEGER},
      </if>
      <if test="udate != null" >
        udate = #{udate,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whm.First_SpringBoot_M3.entity.Users" >
    update users
    set username = #{username,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      usalary = #{usalary,jdbcType=INTEGER},
      udate = #{udate,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>